<!doctype html>
<head>
<title>Penguin - The Lahana Node Wizard</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block header %}{% endblock %}
</head>
<body>
<div class=page>
  <h1>Penguin - The Lahana Wizard</h1>
  <div class=metanav>
	  <h2>{% block metanav %}{% endblock %}</h2>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
  <div class="attrib">
	  <p>Brought to you by the <a href="http://lahana.dreamcats.org/">Lahana project</a>.</p>
	  <p>Penguin logo by <a href="http://potato-chip.deviantart.com/art/Demon-Penguin-but-notreally-122431417">Potato-Chip</a> under CC-BY-NC-SA 3.0.</p>
  </div>
</div>
</body>
</html>
